pyrogram
TgCrypto
py-tgcalls
asyncio
youtube_search
search_engine_parser
ffmpeg
future
psutil
wget
python-dotenv
youtube_dl
youtube_search_python
OpenCC
Pillow
requests
youtube_search
aiohttp
aiofiles
wget
python-arq
